# Ignore cmake buildtree
build/

# Ignore clion project metadata
.idea/

# Ignore netbeans project
nbproject/

# Ignore clang input
compile_commands.json

# Ignore compiled python (From Vim YouCompleteMe config script)
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
