# Ignore YCM config file (It's generated with cmake)
.ycm_extra_conf.py

# Ignore conan generator output
conanbuildinfo.cmake
conaninfo.txt

# Ignore logs
*.log

# Ignore reflection output
*.rfl*
*.ast # AST output files
*.json # Build timestamps database

# Ignore cmake buildtree
build/

# Ignore clion project metadata
.idea/

# Ignore netbeans project
nbproject/

# Ignore clang input
compile_commands.json

# Ignore compiled python (From Vim YouCompleteMe config script)
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
